version: 2.1
jobs:
  lint:
    docker:
      - image: cimg/openjdk:11.0-node
    steps:
      - checkout
      - restore_cache:
          key: sbtcache
      - run: sbt ++2.13.10 check
      - run: sbt ++3.3.0 check
      - save_cache:
          key: sbtcache
          paths:
            - "~/.ivy2/cache"
            - "~/.sbt"
            - "~/.m2"
  test212_jdk:
    docker:
      - image: cimg/openjdk:11.0-node
    resource_class: large
    steps:
      - checkout
      - restore_cache:
          key: sbtcache
      - run: sbt ++2.12.17 core/test http4s/test akkaHttp/test play/test zioHttp/test examples/compile catsInterop/compile benchmarks/compile tools/test codegenSbt/test clientJVM/test monixInterop/compile tapirInterop/test federation/test reporting/test tracing/test
      - save_cache:
          key: sbtcache
          paths:
            - "~/.ivy2/cache"
            - "~/.sbt"
            - "~/.m2"
  scripted212_jdk:
    docker:
      - image: cimg/openjdk:11.0-node
    resource_class: large
    steps:
      - checkout
      - restore_cache:
          key: sbtcache
      - run: sbt ++2.12.17 codegenSbt/scripted
      - save_cache:
          key: sbtcache
          paths:
            - "~/.ivy2/cache"
            - "~/.sbt"
            - "~/.m2"
  scripted3_jdk:
    docker:
      - image: cimg/openjdk:11.0-node
    resource_class: large
    steps:
      - checkout
      - restore_cache:
          key: sbtcache
      - run: sbt codegenScriptedScala3
      - save_cache:
          key: sbtcache
          paths:
            - "~/.ivy2/cache"
            - "~/.sbt"
            - "~/.m2"
  test213_jdk:
    docker:
      - image: cimg/openjdk:11.0-node
    resource_class: large
    steps:
      - checkout
      - restore_cache:
          key: sbtcache
      - run: sbt ++2.13.10 core/test http4s/test akkaHttp/test play/test zioHttp/test examples/compile catsInterop/compile benchmarks/compile monixInterop/compile tapirInterop/test clientJVM/test tools/test federation/test reporting/test tracing/test
      - save_cache:
          key: sbtcache
          paths:
            - "~/.ivy2/cache"
            - "~/.sbt"
            - "~/.m2"
  test3_jdk:
    docker:
      - image: cimg/openjdk:11.0-node
    resource_class: large
    steps:
      - checkout
      - restore_cache:
          key: sbtcache
      - run: sbt ++3.3.0 core/test catsInterop/compile benchmarks/compile monixInterop/compile clientJVM/test clientJS/compile zioHttp/test tapirInterop/test http4s/test federation/test tools/test reporting/test tracing/test
      - save_cache:
          key: sbtcache
          paths:
            - "~/.ivy2/cache"
            - "~/.sbt"
            - "~/.m2"
  test213_js_native:
    docker:
      - image: cimg/openjdk:11.0-node
    resource_class: large
    steps:
      - checkout
      - restore_cache:
          key: sbtcache
      - run: ./.circleci/install-native-deps.sh
      - run: sbt ++2.13.10 clientJS/test clientLaminextJS/Test/fastLinkJS clientNative/Test/nativeLink
      - save_cache:
          key: sbtcache
          paths:
            - "~/.ivy2/cache"
            - "~/.sbt"
            - "~/.m2"
  test3_js_native:
    docker:
      - image: cimg/openjdk:11.0-node
    resource_class: large
    steps:
      - checkout
      - restore_cache:
          key: sbtcache
      - run: ./.circleci/install-native-deps.sh
      - run: sbt ++3.3.0 clientJS/test clientLaminextJS/Test/fastLinkJS clientNative/Test/nativeLink
      - save_cache:
          key: sbtcache
          paths:
            - "~/.ivy2/cache"
            - "~/.sbt"
            - "~/.m2"
  test213_docs:
    docker:
      - image: cimg/openjdk:11.0-node
    steps:
      - checkout
      - restore_cache:
          key: sbtcache
      - run: |
          sbt ++2.13.10 docs/mdoc
          sbt "++2.13.10 doc"
      - save_cache:
          key: sbtcache
          paths:
            - "~/.ivy2/cache"
            - "~/.sbt"
            - "~/.m2"
  test_mima:
    docker:
      - image: cimg/openjdk:11.0-node
    steps:
      - checkout
      - restore_cache:
          key: sbtcache
      - run: sbt ++2.13.10 core/mimaReportBinaryIssues http4s/mimaReportBinaryIssues akkaHttp/mimaReportBinaryIssues play/mimaReportBinaryIssues zioHttp/mimaReportBinaryIssues catsInterop/mimaReportBinaryIssues monixInterop/mimaReportBinaryIssues tapirInterop/mimaReportBinaryIssues clientJVM/mimaReportBinaryIssues clientJS/mimaReportBinaryIssues clientLaminextJS/mimaReportBinaryIssues federation/mimaReportBinaryIssues reporting/mimaReportBinaryIssues tracing/mimaReportBinaryIssues # tools/mimaReportBinaryIssues
      - run: sbt ++3.3.0 core/mimaReportBinaryIssues catsInterop/mimaReportBinaryIssues monixInterop/mimaReportBinaryIssues clientJVM/mimaReportBinaryIssues clientJS/mimaReportBinaryIssues clientLaminextJS/mimaReportBinaryIssues zioHttp/mimaReportBinaryIssues tapirInterop/mimaReportBinaryIssues http4s/mimaReportBinaryIssues federation/mimaReportBinaryIssues reporting/mimaReportBinaryIssues tracing/mimaReportBinaryIssues # tools/mimaReportBinaryIssues
      - save_cache:
          key: sbtcache
          paths:
            - "~/.ivy2/cache"
            - "~/.sbt"
            - "~/.m2"
  release:
    docker:
      - image: cimg/openjdk:11.0-node
    resource_class: large
    steps:
      - checkout
      - run: git fetch --tags
      - restore_cache:
          key: sbtcache
      - run: |
          mkdir ~/.gnupg && chmod 700 ~/.gnupg
          echo use-agent >> ~/.gnupg/gpg.conf
          echo pinentry-mode loopback >> ~/.gnupg/gpg.conf
          echo allow-loopback-pinentry >> ~/.gnupg/gpg-agent.conf
          chmod 600 ~/.gnupg/*
          echo RELOADAGENT | gpg-connect-agent
          echo $PGP_SECRET | base64 --decode | gpg --import --no-tty --batch --yes
      - run: sbt clean ci-release

  microsite:
    docker:
      - image: cimg/node:16.13
    steps:
      - checkout
      - run: |
          if [ "$(git diff --numstat HEAD^ -- vuepress)" ]; then
            cd vuepress
            npm install
            npm run docs:build
            cd ..
            rm -rf docs
            cp -r vuepress/docs/.vuepress/dist docs
            git add docs
            git config user.name "Pierre Ricadat"
            git config user.email "ghostdogpr@gmail.com"
            git commit -m "[ci skip] update docs"
            git push
          fi

workflows:
  version: 2
  build:
    jobs:
      - lint:
          filters:
            tags:
              only: /^v(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(?:-((?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\.(?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\+([0-9a-zA-Z-]+(?:\.[0-9a-zA-Z-]+)*))?$/
      - test212_jdk:
          requires:
            - lint
          filters:
            tags:
              only: /^v(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(?:-((?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\.(?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\+([0-9a-zA-Z-]+(?:\.[0-9a-zA-Z-]+)*))?$/
      - scripted212_jdk:
          requires:
            - lint
          filters:
            tags:
              only: /^v(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(?:-((?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\.(?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\+([0-9a-zA-Z-]+(?:\.[0-9a-zA-Z-]+)*))?$/
      - scripted3_jdk:
          requires:
            - lint
          filters:
            tags:
              only: /^v(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(?:-((?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\.(?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\+([0-9a-zA-Z-]+(?:\.[0-9a-zA-Z-]+)*))?$/
      - test213_js_native:
          requires:
            - lint
          filters:
            tags:
              only: /^v(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(?:-((?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\.(?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\+([0-9a-zA-Z-]+(?:\.[0-9a-zA-Z-]+)*))?$/
      - test3_js_native:
          requires:
            - lint
          filters:
            tags:
              only: /^v(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(?:-((?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\.(?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\+([0-9a-zA-Z-]+(?:\.[0-9a-zA-Z-]+)*))?$/
      - test213_jdk:
          requires:
            - lint
          filters:
            tags:
              only: /^v(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(?:-((?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\.(?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\+([0-9a-zA-Z-]+(?:\.[0-9a-zA-Z-]+)*))?$/
      - test213_docs:
          requires:
            - lint
          filters:
            tags:
              only: /^v(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(?:-((?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\.(?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\+([0-9a-zA-Z-]+(?:\.[0-9a-zA-Z-]+)*))?$/
      - test3_jdk:
          requires:
            - lint
          filters:
            tags:
              only: /^v(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(?:-((?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\.(?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\+([0-9a-zA-Z-]+(?:\.[0-9a-zA-Z-]+)*))?$/
      - test_mima:
          requires:
            - lint
          filters:
            tags:
              only: /^v(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(?:-((?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\.(?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\+([0-9a-zA-Z-]+(?:\.[0-9a-zA-Z-]+)*))?$/
      - release:
          context: Sonatype
          requires:
            - test212_jdk
            - scripted212_jdk
            - scripted3_jdk
            - test213_jdk
            - test213_js_native
            - test213_docs
            - test3_jdk
            - test3_js_native
          filters:
            branches:
              only:
                - series/1.x
                - series/2.x
            tags:
              only: /^v(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(?:-((?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\.(?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\+([0-9a-zA-Z-]+(?:\.[0-9a-zA-Z-]+)*))?$/
      - microsite:
          filters:
            branches:
              only:
                - series/2.x
