version: 2.1
jobs:
  lint:
    docker:
      - image: circleci/openjdk:11-jdk-node
    steps:
      - checkout
      - restore_cache:
          key: sbtcache
      - run: sbt ++2.13.6! check
      - run: sbt ++3.0.2! check
      - save_cache:
          key: sbtcache
          paths:
            - "~/.ivy2/cache"
            - "~/.sbt"
            - "~/.m2"
  test212_jdk:
    docker:
      - image: circleci/openjdk:11-jdk-node
    steps:
      - checkout
      - restore_cache:
          key: sbtcache
      - run: sbt ++2.12.14! core/test http4s/test akkaHttp/test finch/compile play/test zioHttp/compile examples/compile catsInterop/compile benchmarks/compile tools/test codegenSbt/test clientJVM/test monixInterop/compile tapirInterop/test federation/test
      - save_cache:
          key: sbtcache
          paths:
            - "~/.ivy2/cache"
            - "~/.sbt"
            - "~/.m2"
  test212_jdk8:
    docker:
      - image: circleci/openjdk:8-jdk-node
    steps:
      - checkout
      - restore_cache:
          key: sbtcache
      - run: sbt ++2.12.14! core/test http4s/test akkaHttp/test finch/compile play/test zioHttp/compile examples/compile catsInterop/compile benchmarks/compile tools/test codegenSbt/test clientJVM/test monixInterop/compile tapirInterop/test federation/test
      - save_cache:
          key: sbtcache
          paths:
            - "~/.ivy2/cache"
            - "~/.sbt"
            - "~/.m2"
  scripted212_jdk:
    docker:
      - image: circleci/openjdk:11-jdk-node
    steps:
      - checkout
      - restore_cache:
          key: sbtcache
      - run: sbt ++2.12.14! codegenSbt/scripted
      - save_cache:
          key: sbtcache
          paths:
            - "~/.ivy2/cache"
            - "~/.sbt"
            - "~/.m2"
  test213_jdk:
    docker:
      - image: circleci/openjdk:11-jdk-node
    steps:
      - checkout
      - restore_cache:
          key: sbtcache
      - run: sbt ++2.13.6! core/test http4s/test akkaHttp/test finch/compile play/test zioHttp/compile examples/compile catsInterop/compile monixInterop/compile tapirInterop/test clientJVM/test federation/test
      - save_cache:
          key: sbtcache
          paths:
            - "~/.ivy2/cache"
            - "~/.sbt"
            - "~/.m2"
  test3_jdk:
    docker:
      - image: circleci/openjdk:11-jdk-node
    steps:
      - checkout
      - restore_cache:
          key: sbtcache
      - run: sbt ++3.1.0! core/test catsInterop/compile monixInterop/compile clientJVM/test clientJS/compile zioHttp/compile tapirInterop/test http4s/test federation/test
      - save_cache:
          key: sbtcache
          paths:
            - "~/.ivy2/cache"
            - "~/.sbt"
            - "~/.m2"
  test213_js:
    docker:
      - image: circleci/openjdk:11-jdk-node
    steps:
      - checkout
      - restore_cache:
          key: sbtcache
      - run: sbt ++2.13.6! clientJS/test clientLaminextJS/Test/fastLinkJS
      - save_cache:
          key: sbtcache
          paths:
            - "~/.ivy2/cache"
            - "~/.sbt"
            - "~/.m2"
  release:
    docker:
      - image: circleci/openjdk:11-jdk-node
    steps:
      - checkout
      - run: git fetch --tags
      - restore_cache:
          key: sbtcache
      - run: |
          mkdir ~/.gnupg && chmod 700 ~/.gnupg
          echo use-agent >> ~/.gnupg/gpg.conf
          echo pinentry-mode loopback >> ~/.gnupg/gpg.conf
          echo allow-loopback-pinentry >> ~/.gnupg/gpg-agent.conf
          chmod 600 ~/.gnupg/*
          echo RELOADAGENT | gpg-connect-agent
          echo $PGP_SECRET | base64 --decode | gpg --import --no-tty --batch --yes
      - run: sbt clean ci-release

  microsite:
    docker:
      - image: circleci/node
    steps:
      - checkout
      - run: |
          if [ "$(git diff --numstat HEAD^ -- vuepress)" ]; then
            cd vuepress
            npm install
            npm run docs:build
            cd ..
            rm -rf docs
            cp -r vuepress/docs/.vuepress/dist docs
            git add docs
            git config user.name "Pierre Ricadat"
            git config user.email "ghostdogpr@gmail.com"
            git commit -m "[ci skip] update docs"
            git push
          fi

workflows:
  version: 2
  build:
    jobs:
      - lint:
          filters:
            tags:
              only: /^v[0-9]+(\.[0-9]+)*$/
      - test212_jdk:
          requires:
            - lint
          filters:
            tags:
              only: /^v[0-9]+(\.[0-9]+)*$/
      - test212_jdk8:
          requires:
            - lint
          filters:
            tags:
              only: /^v[0-9]+(\.[0-9]+)*$/
      - scripted212_jdk:
          requires:
            - lint
          filters:
            tags:
              only: /^v[0-9]+(\.[0-9]+)*$/
      - test213_js:
          requires:
            - lint
          filters:
            tags:
              only: /^v[0-9]+(\.[0-9]+)*$/
      - test213_jdk:
          requires:
            - lint
          filters:
            tags:
              only: /^v[0-9]+(\.[0-9]+)*$/
      - test3_jdk:
          requires:
            - lint
          filters:
            tags:
              only: /^v[0-9]+(\.[0-9]+)*$/
      - release:
          context: Sonatype
          requires:
            - test212_jdk
            - test212_jdk8
            - scripted212_jdk
            - test213_jdk
            - test213_js
            - test3_jdk
          filters:
            branches:
              only:
                - master
            tags:
              only: /^v[0-9]+(\.[0-9]+)*$/
      - microsite:
          filters:
            branches:
              only:
                - master
